body {
    background-color: rgb(173, 216, 230, 0.3);
    width: 200px;
  
    
  }
  table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 17px;
  margin-top: -10px;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  }
  
  
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   width: 500px;
    z-index: 1050;
    opacity: 0; 
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .modal:target {
    opacity: 1; 
    pointer-events: auto; 
    overflow-y: auto; 
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
  
   
  }
  @media (min-width: 576px) {
  .modal-dialog {
      max-width: 550px;
  
      position: fixed; 
      top: 10%;
      right: 0;
      bottom: 0;
      left: 30%;
  }
  }
  /* свойства для блока, содержащего контент модального окна */ 
  .modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    align-items: center;
  
  }
  @media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
  }
  
  .modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
  }
  .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
  }
  
  .close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
  }
  /* свойства для блока, содержащего основное содержимое окна */
  .modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    align-content: center;
   
  }
  
  
    td {
      color: rgb(16, 60, 83);
      padding: 9px 8px;
      transition: .3s linear;
    }
    .blok1, .blok2, .blok3, .blok4, .blok5, .blok6, .blok7 {
      border:5px solid #a1d0f0;
      background: #f8ebe1ab;
  }
  .blok1{
    margin-left:375px;
    
    width:500px;
    height:55px;
    padding: 5px;
    text-align: center;
  }
  .blok2{
    margin:6px 3px 3px 3px;
  
    width:1228px;
    height:120px;
    padding: 5px;
    text-align: justify;
    
    
  }
  .blok3{
    margin:6px 3px 3px 3px;
    margin-top: 490px;
    width: 320px;
    height:320px;

    text-align: justify;
    
    margin-top: 15px;
  }
  .blok4{
    margin:6px 3px 3px 3px;
  
    width:850px;
    height:320px;
    padding: 5px;
    text-align: justify;
    margin-left: 350px;
    margin-top: -330px;
  }
  .blok5{
    margin:6px 3px 3px 3px;
  
    width:750px;
    height:450x;
    padding: 5px;
    text-align: justify;
    margin-left: 325px;
  margin-top:  15px;

  
  }
  .blok6{
  
    width:1000px;
    height:170px;
    padding: 5px;
    text-align: justify;
    margin-top: 50px;
    margin-left: 120px;
  
  }
  .blok7{
  
    width:450px;
    height:160px;
    padding: 5px;
    text-align: justify;
    margin-top: 15px;
    margin-left: 400px;
  
  }
  
    ul {
      list-style-image: url("https://img.icons8.com/ios-glyphs/15/000000/checkmark--v1.png");
      list-style-position: outside;
      line-height: 1.5;
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      font-size: 15px;
    }
    a {
      text-decoration: none; }
     
  p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
    text-indent: 20px;
    line-height: 1.5;
  }
  ol {
  
    list-style-position: outside;
    line-height: 1.5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
  }
  .floating-button {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }